<h1>Seats#index</h1>
<p>Find me in app/views/seats/index.html.erb</p>

<h1>Listing Seats</h1>

<h2>For the showing of <%= @showtime.movie.name %> on <%= @showtime.date %> at <%= @showtime.start_time %></h2>

<%= link_to 'Back to all Showtimes', movie_path(@showtime.movie) %>
<br>
<br>

<div id="theater">
  <h2>Front of Theater</h2>
  <br>
  <div id="seats_container">

    <% @showtime_seats_array.each do |seat| %>
      <%= make_seat(seat) %>
    <% end %>

  </div>