<h1>Seats#index</h1>
<p>Find me in app/views/seats/index.html.erb</p>

<h1>Listing Seats</h1>

<h2>For the showing of <%= @showtime.movie.name %> on <%= @showtime.date %> at <%= @showtime.start_time %></h2>

<%= link_to 'Back to all Showtimes', movie_path(@showtime.movie) %>
<br>
<br>

<div id="theater">
  <h2>Front of Theater</h2>
  <br>
  <div id="seats_container">
      <% @showtime_seats_array.each do |seat| %>
        <div class="seat">
           <% if !seat.user_id.nil? %>
                <img id="<%= seat.id %>" class="reserved" alt="<%= seat.row %>-<%= seat.chair_letter %>" />
           <% else %>
                <img id="<%= seat.id %>" alt="<%= seat.row %>-<%= seat.chair_letter %>" />
           <% end %>

            <%= seat.row %>-<%= seat.chair_letter %>

          <% if !seat.user_id.nil? %>
            <%= link_to "Reserved - Info", [@showtime, seat] %>
          <% else %>
            <%= link_to 'Buy!', save_seat_path(@showtime, seat) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- <table>
  <tr>
    <th>Row</th>
    <th>Chair Letter</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<%# @showtime_seats_array.each do |seat| %>
  <tr>
    <td><%#= seat.row %></td>
    <td><%#= seat.chair_letter %></td>
    <td><%#= link_to 'Show', [@showtime, seat] %></td>
    <td><%#= link_to 'Edit', [:edit, @showtime, seat] %></td>
   <td><%#= link_to 'Destroy', [@showtime, seat], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<%# end %>
</table>

<br /> -->

<!-- <%#= link_to 'New Seat', new_showtime_seat_path %> -->
