<h1>Seats#show</h1>
<p>Find me in app/views/seats/show.html.erb</p>

<p id="notice"><%= notice %></p>

<p>
  <b>Row:</b>
  <%= @seat.row %>
</p>

<p>
  <b>Chair Letter:</b>
  <%= @seat.chair_letter %>
</p>

<%if @seat.user_id.blank? == true %>
  <div><%= link_to 'Reserve Seat', save_seat_path(:user => {:seat_id => @seat.id}) %></div>
<% else %>
    <div>This seat is reserved by <%= @seat.user.email %></div>
<% end %>


<%= link_to 'Edit', edit_showtime_seat_path(@showtime, @seat) %> |
<%= link_to 'Back to All Seats', showtime_seats_path %>
