<h1>Movies#show</h1>
<p>Find me in app/views/movies/show.html.erb</p>


<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @movie.name %>
</p>

<p>
  <b>Showtimes:</b>
  <% @showtimes.each do |showtime| %>
    <p><%= showtime.date %> |
    <%= link_to "#{showtime.start_time}", showtime_seats_path(showtime) %></p>
  <% end %>
</p>



<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back to All Movies', movies_path %>
