<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<table>
  <tr>
    <th>Movie</th>
    <th>Showtime</th>
    <th>Seat</th>
    <th></th>
    <th></th>
    <!-- <th></th> -->
    <!-- <th></th> -->
  </tr>

<% @seats_array.each do |seat| %>
  <tr>
    <td><%= seat.showtime.movie.name %></td>
    <td><%= seat.showtime.date %> | <%= seat.showtime.start_time %></td>
    <td>Row: <%= seat.row %> | Chair: <%= seat.chair_letter %></td>
    <td><%= link_to 'Show', [seat.showtime, seat] %></td>
    <td><%= link_to 'Give Up Ticket', give_up_seat_path(seat.showtime, seat) %></td>
    <!-- <td><%#= link_to 'Edit', [:edit, seat.showtime, seat] %></td> -->
    <!-- <td><%#= link_to 'Destroy', [seat.showtime, seat], method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </tr>
<% end %>
</table>


<%= link_to 'Edit your Account Settings', edit_user_path(@user) %> |
<%= link_to 'Back to All Movies', movies_path %>
